[viewBag]


[account]
redirect = "home"
paramCode = "code"

[session]
security = "all"
==
<div class="col-sm-6 wow fadeInRight" id="registerForm">
    <div class="signin-form">
    {% if input('code') is empty %}
        <form data-request="onRegister" style="margin-top: 15px;">
            <div class="form-group">
                <label for="name">First Name</label>
                <input
                    name="name"
                    type="text"
                    class="form-control signin-field"
                    value=""
                    placeholder="Enter your first name"
                    id="signin-name" />
                </div>
            
            <div class="form-group">
                <label for="email">Email</label>
                <input
                    name="email"
                    type="email"
                    class="form-control signin-field"
                    value=""
                    placeholder="Enter your email"
                    id="signin-email" />
            </div>
            
            <div class="form-group">
                <label for="password">Password</label>
                <input
                    name="password"
                    type="password"
                    class="form-control signin-field"
                    value=""
                    placeholder="Password"
                    id="signin-pass" />
            </div>
            
            <button type="submit" class="btn btn-block btn-info">Sign Up</button>
        </form>
        <div class="signin-link">
            By signing up you agree to <a href="/terms">Terms of Use</a> and <a href="/privacy">Privacy Policy</a>
        </div>
         {% else %}
            <h3 class="column-title">Activate your Account</h3>
            <form data-request="onActivate" data-request-success="window.location.href = '/myLeads'" style="margin-top: 35px;">
                <div class="input-group">
                  <span class="input-group-addon">Code</span>
                  <input type="code" name="code" class="form-control" placeholder="Enter activation code" value="{{ input('code') }}">
                </div>
                <button type="submit" class="btn btn-md btn-primary" style="display:block; margin: auto; margin-top: 15px;">
                    <span class="fa fa-check-circle"></span> Click here to activate</button>
            </form>
        {% endif %}
    </div>
</div>