<div class="container">

    <div class="section-header">
        <h2 class="section-title text-center wow fadeInDown">About Us</h2>
        <p class="text-center wow fadeInDown">With all of the changes that go on there are two things that always stay constant: New business and Retention.</p>
    </div>

    <div class="row">
        <div class="col-sm-6 wow fadeInLeft">
            {% content 'about/video.htm' %}
        </div>

        <div class="col-sm-6 wow fadeInRight">
            {% content 'about/capabilities.htm' %}
        </div>
</div>
