[viewBag]
==
<div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">Our Services</h2>
            </div>
            <div class="row">
                <div class="col-sm-6 wow fadeInLeft">
                    <div class="media service-box wow fadeInLeft">
                        <div class="pull-left">
                            <i class="fa fa-bullhorn"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Customer Protection Review Callouts</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi rutrum molestie nibh nec mollis.</p>
                        </div>
                    </div>

                    <div class="media service-box wow fadeInLeft">
                        <div class="pull-left">
                            <i class="fa fa-line-chart"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Comprehensive CPRs Reports</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi rutrum molestie nibh nec mollis.</p>
                        </div>
                    </div>

                    <div class="media service-box wow fadeInLeft">
                        <div class="pull-left">
                            <i class="fa fa-clock-o"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Survey Call Reminders</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi rutrum molestie nibh nec mollis.</p>
                        </div>
                    </div>

                    <div class="media service-box wow fadeInLeft">
                        <div class="pull-left">
                            <i class="fa fa-automobile"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Holiday Calls</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi rutrum molestie nibh nec mollis.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="media service-box wow fadeInRight">
                        <div class="pull-left">
                            <i class="fa fa-mobile"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Welcome Calls</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi rutrum molestie nibh nec mollis.</p>
                        </div>
                    </div>

                    <div class="media service-box wow fadeInRight">
                        <div class="pull-left">
                            <i class="fa fa-ambulance"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Catastrophe Call outs</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi rutrum molestie nibh nec mollis.</p>
                        </div>
                    </div>

                    <div class="media service-box wow fadeInRight">
                        <div class="pull-left">
                            <i class="fa fa-pie-chart"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Lead Generation (coming soon)</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi rutrum molestie nibh nec mollis.</p>
                        </div>
                    </div>

<!--                     <div class="media service-box wow fadeInRight">
                        <div class="pull-left">
                            <i class="fa fa-tty"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Cancellation Calls</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi rutrum molestie nibh nec mollis.</p>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>