[viewBag]
==
<div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">Our Services</h2>
                <p></p>
            </div>
            <div class="row">
            <!-- LEFT COLUMN -->
                <div class="col-sm-6 wow fadeInLeft">
                    <div class="media service-box wow fadeInLeft">
                        <div class="pull-left">
                            <i class="fa fa-bullhorn"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Customer Protection Review Callouts</h4>
                            <p>Each month we will call on your current BOB to set up CPR’s.  If they wish to set up a review they will be 

directed to your office to do so.  If they wish to decline or a message was left we will document each call 

and send at the end of each month.</p>
                        </div>
                    </div>

                    <div class="media service-box wow fadeInLeft">
                        <div class="pull-left">
                            <i class="fa fa-line-chart"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Comprehensive CPRs Reports</h4>
                            <p>We will send a report stating which customers accepted the review, which ones declined, and which 

ones we left a message on.  It will show the date and the exact time that we called.  These are records 

you can keep to protect you from exposures and liabilities you may face for coverage issues.</p>
                        </div>
                    </div>

                    <div class="media service-box wow fadeInLeft">
                        <div class="pull-left">
                            <i class="fa fa-clock-o"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Survey Call Reminders</h4>
                            <p>We all know how important surveys are and how they can impact our compensation.  We will call each

of your customers around the time they receive their surveys to remind them to please fill them out.  

We will give them an option that if they cannot fill them out in a satisfactory manner to please speak to 

your agent first.  They will then be directed to you to hopefully work out the issue in advance.</p>
                        </div>
                    </div>

                    <div class="media service-box wow fadeInLeft">
                        <div class="pull-left">
                            <i class="fa fa-automobile"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Holiday Calls</h4>
                            <p>We will call your entire book of business to wish them happy holidays.  You can pick as many or as few

of holidays as you want.  It is completely up to you.</p>
                        </div>
                    </div>
                </div>
                <!-- RIGHT COLUMN -->
                <div class="col-sm-6">
                    <div class="media service-box wow fadeInRight">
                        <div class="pull-left">
                            <i class="fa fa-mobile"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Welcome Calls</h4>
                            <p>Each month you can upload you previous month’s new business and we will call to welcome them to 

your agency.  At this point if they have any questions or did not receive any documents they can be 

directed to your office.</p>
                        </div>
                    </div>

                    <div class="media service-box wow fadeInRight">
                        <div class="pull-left">
                            <i class="fa fa-ambulance"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Catastrophe Call Outs (coming soon)</h4>
                            <p>Did you have a major storm come through your area?  Well you can get on our site and at one click of a 

mouse send a call out to your entire BOB letting them know that you hope everyone is alright and that 

you are here to help with anything they need.</p>
                        </div>
                    </div>

                    <div class="media service-box wow fadeInRight">
                        <div class="pull-left">
                            <i class="fa fa-pie-chart"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Thank You Calls</h4>
                            <p>
                            We all know how hectic and busy it can get in our agencies. How often do we just sit back and say 
Thank you to our customers. Well we will make sure that gets done for you. As many times as you like we will call your current BOB and tell them Thank You for being a part of Allstate and your agency.</p>
                        </div>
                    </div>
<!--                     <div class="media service-box wow fadeInRight">
                        <div class="pull-left">
                            <i class="fa fa-tty"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Cancellation Calls</h4>
                            <p></p>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="row">
                <p style="text-align: center;
                  color: #2c8cb3;
                  margin: auto;
                  float: none;">
                    At the time of setup we will have you record each of these messages so it is your voice the customer hears.  We have the scripts for you or you can come up with your own.  It only needs to be done once and takes about 5 minutes.  You can change them as often as you’d like by calling 1-866-827-1716
                </p>
            </div>
        </div>